# https://editorconfig.org

root = true

[*.{ts,tsx,scss,svg}]
indent_size = 4
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.svg]
insert_final_newline = false
indent_size = 2

[*.scss]
indent_size = 2
