{% load thumbnail i18n filer_admin_tags %}

{% with user_clipboard as clipboard %}
<div class="well">
    <table  class="clipboard">
        <thead>
            <tr><th colspan="3"><h4 class="blue">{% trans "Clipboard" %}</h4></th></tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">
                    <div class="form-actions no-padding-left">
                        <form action="{% url 'admin:filer-paste_clipboard_to_folder' %}" method="post" class='avoid-multiple-submissions pull-left'>
                            {% csrf_token %}
                            <input type="hidden" name="folder_id" value="{{ folder.id }}" />
                            <input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
                            <input type="hidden" name="redirect_to" value="{{ current_url }}" />
                            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                            {% if current_site %}<input type="hidden" name="current_site" value="{{current_site}}" />{% endif %}
                            {% if select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
                            {% if file_type %}<input type="hidden" name="file_type" value="{{ file_type}}" />{% endif %}
                            <button {% if folder.is_root or folder|is_restricted_for_user:user %} disabled="disabled" {% endif %} title="{% trans "Paste all items here" %}" class="btn btn-sm btn-default"><i class="fa fa-angle-double-left bold bigger-125"></i></button>
                        </form>
                        {% comment %}
                        <form action="{% url 'admin:filer-discard_clipboard' %}" method="post"  style="display: inline;">{% csrf_token %}
                            <input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
                            <input type="hidden" name="redirect_to" value="{{ current_url }}" />
                            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                            {% if select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
                            {% if current_site %}<input type="hidden" name="current_site" value="{{current_site}}" />{% endif %}
                            {% if file_type %}<input type="hidden" name="file_type" value="{{ file_type}}" />{% endif %}
                            <input type="submit" value="{% trans "discard" %}" title="{% trans "Move all clipboard files to" %} '{% trans "unfiled files" %}' {% trans "folder" %}"/>
                        </form>{% endcomment %}
                        <form action="{% url 'admin:filer-delete_clipboard' %}" method="post" class='avoid-multiple-submissions pull-left'>{% csrf_token %}
                            <input type="hidden" name="clipboard_id" value="{{ clipboard.id }}" />
                            <input type="hidden" name="redirect_to" value="{{ current_url }}" />
                            {% if current_site %}<input type="hidden" name="current_site" value="{{current_site}}" />{% endif %}
                            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                            {% if file_type %}<input type="hidden" name="file_type" value="{{ file_type}}" />{% endif %}
                            <button title="{% trans "Delete all files in the clipboard" %}" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-trash-o"></i>{% trans "Delete files" %}</button>
                        </form>
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody id="fileInputQueue" class="fileUploadQueue">{% if clipboard_files.count %}{% with clipboard_files.all as items %}
            {% include "admin/filer/tools/clipboard/clipboard_item_rows.html" %}
            {% endwith %}
        {% else %}
            <tr class="noItemsRow">
                <td colspan="3"><p>{% trans "the clipboard is empty" %}</p></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
(function ($) {
    var i = 0;
    $('form.avoid-multiple-submissions').submit(function () {
        i++; if(i > 1) { return false; }
    });
})(jQuery);
</script>
{% endwith %}
