{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify staticfiles %}

{% block extrahead %}
    {{ block.super }}

    {# upload stuff #}
    <script src="{% static 'filer/js/libs/class.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/fileuploader.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/mediator.min.js' %}"></script>
    <script src="{% static 'filer/js/libs/retina.min.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'filer/js/addons/popup_handling.js' %}"></script>
    <script src="{% static 'filer/js/addons/focal-point.js' %}"></script>
    <script src="{% static 'filer/js/addons/toggler.js' %}"></script>
    <script src="{% static 'filer/js/base.js' %}"></script>
{% endblock %}

{% block object-tools %}
  {% if change and not is_popup %}
    <ul class="object-tools">
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
        {% if has_absolute_url %}
            <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
        {% endif%}
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
    {% include "admin/filer/tools/detail_info.html" with detail=True file=True %}
    {{ block.super }}
{% endblock %}

