[run]
branch = True
source =
    finder
    unittests
omit =
    demoapp/*
    docs/*
    filer/*
    finder/migrations/*
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
ignore_errors = True
