# https://editorconfig.org

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.py]
max_line_length = 119

[*.{scss,js,html}]
max_line_length = 120
indent_style = tab

[*.html]
insert_final_newline = false

[*.md]
max_line_length = 100

[*.yml]
indent_size = 2
