# https://editorconfig.org

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.py]
max_line_length = 119
quote_type = single

[*.{scss,js,html}]
max_line_length = 120
quote_type = double

[*.js]
quote_type = single

[*.md]
max_line_length = 100

[*.yml]
indent_size = 2
