*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
build
*.egg-info
.DS_Store
.project
.pydevproject
.settings
*~
docs/_build
tests/.installed.cfg
tests/.buildoutsig
tests/bin
tests/develop-eggs
tests/downloads
tests/eggs
tests/parts
tests/personal*.cfg
tests/project/personal*.py
tests/reports/
distribute*
lib/
include/
tests/tmp/
*.coverage
htmlcov/
share/
