*.py[cod]
*$py.class
*.egg-info
*.log
*.pot
.DS_Store
.coverage
.coverage/
.eggs/
.idea/
.project/
.pydevproject/
.vscode/
.settings/
.tox/
__pycache__/
docs/_build/
dist/
env/
.venv/
/*docs/env*/
/*docs/_build*/

/~
/node_modules
.sass-cache
*.css.map
package-lock.json

local.sqlite

.installed.cfg
bin
downloads
parts
tmp
distribute*
lib/
include/
tests/tmp/
pep8.txt
share/
.python-version
data
