ci:
    autofix_commit_msg: |
        ci: auto fixes from pre-commit hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: 'ci: pre-commit autoupdate'
    autoupdate_schedule: monthly

repos:
#  - repo: https://github.com/asottile/pyupgrade
#    rev: v2.37.3
#    hooks:
#      - id: pyupgrade
#        args: ["--py36-plus"]
#
#  - repo: https://github.com/adamchainz/django-upgrade
#    rev: '1.7.0'
#    hooks:
#      - id: django-upgrade
#        args: [--target-version, "2.2"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: mixed-line-ending

#  - repo: https://github.com/pycqa/isort
#    rev: 5.12.0
#    hooks:
#      - id: isort
