body {
	background: white;
}
.text-left {
	text-align: left !important;
}
.dataTables_wrapper.custom-style {
	position: absolute;
	top: 44px;
	left: 0px;
}
.dataTables_wrapper.custom-style .row {
	border: none;
}
#toolbar {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
	position: relative;
}
.actions .list-unstyled {
	line-height: 34px;
}
.thumbHeader, .action-checkbox-column{
	width: 5em;
}
.clipboard {
	max-width: 100%;
  	width: 100%;
  	min-width: 100%;
  	overflow: hidden;
}
.clipboardItem td {
	word-wrap: break-word;
	max-width: 150px;
}
.table-bordered .selected, .table-bordered .selected td {
	background-color: #E4EFC9 !important;
}
.table-bordered td.center, .table-bordered td.middle {
	vertical-align: middle !important;
}
.table-bordered td strong {
	margin-right: 5px;
}
.this-page, .avoid-multiple-submissions {
	margin-right: 10px;
}
.avoid-multiple-submissions + .avoid-multiple-submissions {
	margin-right: 0;
}
.thumbnail.custom-margin {
	margin: 10px 10px 0 0;
}
.limiter-wrapper {
	line-height: 34px;
	margin-left: 10px;
}
.page-header .go-up {
	margin-right: 5px;
	display: inline-block;
	text-align: center;
}
.go-back {
	margin: 7px 10px 0 0px;
}
.left-20 {
	margin-left: 20px;
}
.padding-20 {
	padding: 20px;
}
.padding-right-15 {
	padding-right: 15px !important;
}
table a.changelink, table a.deletelink {
 	line-height: 36px;
}
.ace-icon {
	margin-right: 3px;
}
table a.deletelink {
	margin-left: 15px;
}
.colMS.no-padding .page-header {
	padding-left: 12px;
}
.change-form .form-horizontal input,
.change-form .form-horizontal select,
.change-form .form-horizontal textarea {
	width: 76%;
}
.change-form .form-horizontal input[type="checkbox"] {
	width: auto;
	margin-right: 7px;
}

.form-actions .btn {
  margin-left: 5px;
}
.change-form .clear {
	display: none;
}
.loadingThumb {
	width: 50px;
	height: 42px;
}
.percentage.small {
	font-size: 11px;
	vertical-align: middle;
}
.add-another img {
	display: none;
}
.add-another {
	text-decoration: none !important;
	display: inline-block;
	margin: 0 0 0 10px;
  	vertical-align: middle;
}
.add-another:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f067";
	color: #9585bf;
}
.popover-content, .popover {
	box-shadow: none;
}
ul.custom-bullets li:before {
	content: "\f111";
	font: normal normal normal 14px/1 FontAwesome;
	display: inline-block;
	width: 18px;
	color: #9585bf;
	font-size: 10px;
  	vertical-align: middle;
}
.form-actions {
	background: transparent;
	padding-right: 0;
}
.full-preview-page .btn {
	vertical-align: top;
}
.quiet {
	clear: both;
	margin-top: -5px;
}
.cancel-search {
	margin-left: 20px;
	margin-top: 10px;
}
#changelist-search {
	position: static;
}
.special-info {
	position: absolute;
	left: 15px;
	top: 0;
}
a.filer-restricted {
  color: #666;
}
.action-counter {
	margin-left: 10px;
}
#destination-tree {
	margin-bottom: 20px;
}
#destination-name {
	color: #87b87f;
	font-size: 14px;
}
ul.fancytree-container {
	outline: none !important;
    border: 1px solid #ddd !important;
}
.help {
	display: block;
    margin-bottom: 10px;
    color: #737373;
    font-size: 12px !important;
    font-style: italic;
}
#id_suffix {
	margin-left: 15px;
}
#destination-tree + p + .help {
	margin-top: -5px;
	margin-left: 60px;
}
.insertlinkButton .ace-icon {
	transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	webkit-transform: rotate(-135deg);
}
@media only screen and (max-width: 900px) {
	#changelist-search {
		width: 100% !important;
	}
	#content-related {
		padding-left: 0;
		margin-top: 20px;
	}
	#content-main {
		padding-right: 0;
	}
	.special-info h4.smaller {
		margin-bottom: 3px;
	}
	.special-info h4.smaller .blue {
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    width: 105px;
	    display: block;
	    float: right;
	    text-align: right;
	}
	.special-info .cancel-search {
		clear: both;
		margin-top: 0;
	}
	.special-info .quiet {
		display: none;
	}
}
@media only screen and (max-width: 1200px){
	.popup .col-xs-5 {
		width: 100%
	}
}
.form-row.errors .help-block {
  color: #a94442;
}
.form-row.errors ul {
  list-style: none;
  margin: 0 0 0 5px;
}
.form-row.errors input, .form-row.errors select, .form-row.errors textarea {
  border-color: #a94442;
  color: #d68273 !important;
  padding-left: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-row.errors input:focus, .form-row.errors select:focus, .form-row.errors textarea:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(219, 137, 120, 0.3);
  box-shadow: 0 0 0 2px rgba(219, 137, 120, 0.3);
  color: #ca5f4c;
  border-color: #a94442;
  background-color: #fef9f8;
}
.form-row.errors .col-sm-9:before {
  content: "\f06a";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 22px;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  color: #dd5a43;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-row.errors label {
  color: #a94442;
}
.errornote {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 20px;
}
.errornote:before {
  content: "\f06a";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  color: #dd5a43;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.errornote + .errorlist {
  margin: -21px 0 20px;
  background-color: #f2dede;
  color: #a94442;
  padding: 0 0 20px 40px;
  border: 1px solid #ebccd1;
  border-top: none;
}
.custom-collapse {
  margin-bottom: 16px;
  border: solid 1px #e5e5e5;
  border-top: none;
}
.custom-collapse .header.block {
  background: #d9edf7 !important;
  font-size: 17px !important;
  padding: 0 10px 0 15px !important;
  border: 1px solid #bce8f1 !important;
  color: #31708f !important;
  margin: 0 0 16px;
  font-weight: 300 !important;
}
.custom-collapse.collapsed {
  border: none;
}
.custom-collapse.collapsed .header.block {
  margin-bottom: 0 !important;
}
.custom-collapse .ace-icon {
  margin-top: 5px;
  cursor: pointer;
}
.file-upload {
	margin-top: 7px;
	font-size: 12px;
}
.file-upload a {
	font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}
.file-upload #id_file {
	display: inline-block;
}
.clearable-file-input {
	margin-left: 20px;
}
.change-form .form-horizontal .clearable-file-input input[type="checkbox"] {
	margin-right: 3px;
}
.form-horizontal .form-group .row {
  margin: 0;
}

.owner strong {
	margin-left: 10px;
}
.owner .related-lookup {
  height: 28px;
  vertical-align: top;
  display: inline-block;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 3px;
  margin-left: -63px;
}
.owner .related-lookup img {
  display: none;
}
.owner .related-lookup:before {
  content: "Choose";
  display: inline-block;
  height: 28px;
  line-height: 24px;
  text-align: center;
  padding: 0 8px;
  background-color: #6fb3e0;
  color: #FFF;
  font-size: 11px;
  font-weight: 300;
  border: 2px solid #FFF;
  border-left-width: 4px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.change-form .owner {
  position: relative;
}
.change-form .owner input {
  padding-right: 65px;
}
/*related objects lookup buttons*/
.add-related, .add-another, .related-lookup, .change-related, .delete-related {
  margin: 0 5px;
  vertical-align: middle;
  display: inline-block;
}
.add-related img, .add-another img, .related-lookup img, .change-related img, .delete-related img {
  display: none;
}
.add-related:before, .add-another:before, .related-lookup:before, .change-related:before, .delete-related:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-related:before, .add-another:before {
  content: "\f067";
}
.delete-related:before {
  content: "\f00d";
}
.related-lookup:before {
  content: "\f002";
}
.change-related:before {
  content: "\f040";
}
.related-widget-wrapper {
  display: inline;
}