{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify filermedia %}
{% load url from future %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">
	(function($) {
		$( document ).ready(function() {
			$('.field-restricted').not(':has(input)').addClass('field-restricted-read-only');
		});
	})(django.jQuery);
	</script>
{% endblock %}

{% block coltype %}{% if is_popup %}colM{% else %}colMS{% endif %}{% endblock %}

{# {% block content %} 
	<div id="content-main" class="{% if not is_popup %}col-xs-12 no-padding-right no-padding-left{% endif %}">
		{{block.super}}	
	</div>
{% endblock %} #}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools list-unstyled list-inline text-right">
      <li><a href="history/" class="historylink btn btn-success btn-sm"><i class="ace-icon fa fa-history"></i>{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink  btn btn-purple btn-sm"><i class="ace-icon fa fa-external-link"></i>{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block after_field_sets %}
{% if is_popup and select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}