{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify filermedia filer_admin_tags %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">
	(function($) {
		$( document ).ready(function() {
			$('.field-restricted').not(':has(input)').addClass('field-restricted-read-only');
		});
	})(django.jQuery);
	</script>
{% endblock %}

{% block coltype %}{% if is_popup %}colM{% else %}colMS{% endif %}{% endblock %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools list-unstyled list-inline text-right">
      <li><a href="history/" class="historylink btn btn-success btn-sm"><i class="ace-icon fa fa-history"></i>{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink  btn btn-purple btn-sm"><i class="ace-icon fa fa-external-link"></i>{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block after_field_sets %}
{% if is_popup and select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block submit_buttons_bottom %}
    {% if not original or not original|is_restricted_for_user:user %}
			{% submit_row %}
    {% endif %}
{% endblock %}
