{% load i18n filermedia sekizai_tags%}

<p>
<label for="destination">{% blocktrans %}Destination folder:{% endblocktrans %}</label>
<span id="destination-name">Select a folder below.</span>
<input type='hidden' name="destination" id="destination" value=''/>
</p>
<div id="destination-tree"></div>
{% addtoblock "js" %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.9.0/jquery.fancytree-all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.9.0/skin-lion/ui.fancytree.min.css" />

    <script type="text/javascript">
        $( document ).ready(function() {
            var fetchDestinations = function(parent){
                return $.ajax({
                    url: "{% url 'admin:filer-destination_folders' %}",
                    data: {
                        selected_folders: JSON.stringify([{% for f in folders_queryset %}{{f.pk}} {% if not forloop.last %},{% endif %}{% endfor %}]),
                        parent: parent || null,
                        current_folder: {{instance.pk|default:'null'}}
                    },
                    complete: function(){
                        var children = $('#destination-tree').fancytree("getTree").getRootNode().getChildren() || [];
                        if(children.length == 0){
                            $('form').html("{% blocktrans %}There are no files and/or folders available to copy.{% endblocktrans %}");
                        }
                    },
                    cache: false
                });
            }
            $('#destination-tree').fancytree({
                source: fetchDestinations(),
                checkbox: true,
                selectMode: 1,
                lazyLoad: function(event, data){
                    data.result = fetchDestinations(data.node.key);
                },
                activate: function(event, data) {
                    data.node.toggleSelected();
                },
                select: function(event, data) {
                    var path = $.map(
                        data.node.getParentList(),
                        function(el){return "/" + el.title;}
                    ).join('') + "/" + data.node.title;
                    $('#destination').val(data.node.key);
                    $('#destination-name').text(path);
                }
            });
        });
    </script>
{% endaddtoblock %}
