{% load i18n %}
{% load admin_list filermedia filer_tags filer_admin_tags %}
{% spaceless %}
<div id="toolbartable" class="dataTables_wrapper">
    <table cellspacing="0" class="table table-bordered table-hover table-striped no-margin-bottom">
        <thead>
            <tr class="{% cycle 'row1' 'row2' as rowcolors %}">
                <th{% if is_popup %} style="width: 3em;"{% else %} class="action-checkbox-column center"{% endif %}>{% if paginator.count and not select_folder and not is_popup %}<input type="checkbox" id="action-toggle" class="ace"/><span class="lbl"></span>{% endif %}</th>
                <!-- THUMB -->
                <th class="thumbHeader center">&nbsp;</th>
                <!-- FILENAME / FOLDERNAME / DIMENSIONS / OWNER -->
                <th>{% trans 'Name' %}</th>
                <th style="width: 2.5em;"></th>
            </tr>
        </thead>
        <tbody>
        {% if not is_popup and folder.is_root and not show_result_count %}
            {% ifequal paginated_items.number 1 %}
            {% for subfolder in folder.virtual_folders %}
            <tr class="{% cycle rowcolors %}">
                {% include "admin/filer/folder/subfolder_row.html" %}
            </tr>
            {% endfor %}
            {% endifequal %}
        {% endif %}
        {% for item in paginated_items.object_list %}
            {% if item.file_type == 'Folder' or item.file_type == 'DummyFolder' %}
            {% with item as subfolder %}
            <tr class="{% cycle rowcolors %}">
                {% include "admin/filer/folder/subfolder_row.html" %}
            </tr>
            {% endwith %}
            {% endif %}
            {% if item.file_type == 'File' or item.file_type == 'Image' or item.file_type == 'Archive' %}
            {% with item as file %}
            <tr class="{% cycle rowcolors %}">
                {% include "admin/filer/folder/file_row.html" %}
            </tr>
            {% endwith %}
            {% endif %}
        {% endfor %}

        {% if not folder.is_root %}
        {% ifequal folder.item_count 0 %}
        <tr class="{% cycle rowcolors %}">
                <!-- FileIcon -->
                <td colspan="5" class="row1" style="text-align: center;vertical-align: middle;height:128px;color: gray;">{% trans "there are no files or subfolders" %}</td>
            </tr>
        {% endifequal %}
        {% endif %}
        </tbody>
    </table>
    <div class="paginator row center">
        <div class="col-xs-12">
            {% if paginated_items.has_previous %}
                <a href="?page={{ paginated_items.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% get_popup_params '&' %}" class="btn btn-success btn-sm"><i class="ace-icon fa fa-long-arrow-left"></i>{% trans "previous" %}</a>
            {% endif %}

            <span class="this-page">
                {% blocktrans with paginated_items.number as number and paginated_items.paginator.num_pages as num_pages %}
                Page <span class="green">{{ number }}</span> of {{ num_pages }}
                {% endblocktrans %}
            </span>

            {% if paginated_items.has_next %}
                <a href="?page={{ paginated_items.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% get_popup_params '&' %}" class="btn btn-success btn-sm">{% trans "next" %} <i class="ace-icon fa fa-long-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>
{% endspaceless %}
