{% load i18n l10n admin_list filer_tags filer_admin_tags staticfiles %}
<div class="drag-hover-border"></div>
<section class="navigator{% if is_popup %} navigator-popup{% endif %}">
    <table class="js-filer-dropzone js-filer-dropzone-base navigator-table" id="result_list" data-url="{% if folder.id %}{% url 'admin:filer-ajax_upload' folder_id=folder.id %}{% else %}{% url 'admin:filer-ajax_upload' %}{% endif %}" data-folder-name="{% if folder.is_root %}{% trans 'Unsorted Uploads' %}{% else %}{{ folder.name }}{% endif %}" data-max-uploader-connections="{{ uploader_connections }}" data-max-file-size="20">
        <thead>
            <tr>
                {% if not is_popup %}
                <th class="column-checkbox">
                    {% if paginator.count and not is_popup %}
                        <input type="checkbox" id="action-toggle">
                    {% endif %}
                </th>
                {% endif %}
                <th class="column-icon">&nbsp;</th>
                <th class="column-name">{% trans "Name" %}</th>
                <th class="column-owner">{% trans "Owner" %}</th>
                <th class="column-size">{% trans "Size" %}</th>
                <th class="column-action">{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in virtual_items %}
                <tr class="unfiled">
                    {% if not is_popup %}
                    <td class="column-checkbox">&nbsp;</td>
                    {% endif %}
                    <td class="column-icon">
                        <a href="{{ item.get_admin_directory_listing_url_path }}{% filer_admin_context_url_params %}"
                            title="{% blocktrans with item.name as item_label %}Change '{{ item_label }}' folder details{% endblocktrans %}">
                            <img src="{% static 'filer/icons/unfiled_folder_48x48.png' %}" alt="{% trans 'Folder Icon' %}" width="28" height="28">
                        </a>
                    </td>
                    <td class="column-name" colspan="4">
                        <div>
                            <a href="{{ item.get_admin_directory_listing_url_path }}{% filer_admin_context_url_params %}"
                                title="{% blocktrans with item.name as item_label %}Change '{{ item_label }}' folder details{% endblocktrans %}">
                                {{ item.name }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% if is_popup and filer_admin_context.pick_folder and folder.id %}
                <tr>
                    <td class="column-icon">
                    </td>
                    <td class="column-name">
                        <div>
                            <a class=""
                                href="#" onclick="opener.dismissRelatedFolderLookupPopup(window, {{ folder.id }}, '{{ folder.quoted_logical_path }}'); return false;" >
                                {% trans "Choose this folder" %}
                            </a>
                        </div>
                    </td>
                    <td class="column-owner">
                    </td>
                    <td class="column-size">
                    </td>
                    <td class="column-action">
                    </td>
                </tr>
            {% endif %}
            {% for item in paginated_items.object_list %}
                {% if item.file_type == "Folder" %}
                    {% include 'admin/filer/folder/directory_table_folder_row.html' %}
                {% else %}
                    {% if is_popup %}
                        {% include 'admin/filer/folder/directory_table_file_row_popup.html' %}
                    {% else %}
                        {% include 'admin/filer/folder/directory_table_file_row.html' %}
                    {% endif %}
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="6" class="no-files"><span class="fa fa-arrow-down"></span>{% trans 'Drop files here or use the "Upload Files" button' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="filer-dropzone-info-message js-filer-dropzone js-filer-dropzone-info-message hidden" data-url="{% if folder.id %}{% url 'admin:filer-ajax_upload' folder_id=folder.id %}{% else %}{% url 'admin:filer-ajax_upload' %}{% endif %}" data-folder-name="{% if folder.is_root %}{% trans 'Unsorted Uploads' %}{% else %}{{ folder.name }}{% endif %}" data-max-uploader-connections="{{ uploader_connections }}" data-max-file-size="20">
        <div class="icon"><span class="fa fa-cloud-upload"></span></div>

        <div class="filer-dropzone-upload-welcome js-filer-dropzone-upload-welcome">
            <div class="text">{% trans "Drop your file to upload into:" %}</div>
            <div class="folder">
                <div class="folder-inner">
                    <img src="{% static 'filer/icons/plainfolder_48x48.png' %}" alt="{% trans 'Folder Icon' %}" width="18" height="18">
                    <span class="js-filer-dropzone-folder-name"></span>
                </div>
            </div>
        </div>

        <div class="js-filer-upload-count filer-dropzone-upload-count hidden">
            <span class="js-filer-upload-text hidden">{% trans "Upload" %}</span>
            <span class="js-filer-dropzone-upload-number"></span>
        </div>

        <div class="filer-dropzone-upload-info js-filer-dropzone-upload-info-container">
            <div class="js-filer-dropzone-upload-info filer-dropzone-upload-info hidden">
                <div class="js-filer-dropzone-file-name filer-dropzone-file-name"></div>
                <div class="js-filer-dropzone-progress filer-dropzone-progress"></div>
            </div>
        </div>

        <div class="js-filer-dropzone-cancel filer-dropzone-cancel hidden">
            <a href="#">{% trans "cancel" %}</a>
        </div>

        <div class="js-filer-dropzone-upload-success filer-dropzone-upload-success hidden">
            {% trans "Upload success!" %}
        </div>

        <div class="js-filer-dropzone-upload-canceled filer-dropzone-upload-canceled hidden">
            {% trans "Upload canceled!" %}
        </div>
    </div>

    <div class="nav-pages paginator">
        {% if paginated_items.has_previous %}
            <a href="?page={{ paginated_items.previous_page_number }}{% if q %}&amp;q={{ q }}{% endif %}{% filer_admin_context_url_params '&' %}">
                {% trans "previous" %}
            </a>
        {% endif %}

        <span class="nav-pages-current">
            {% blocktrans with paginated_items.number as number and paginated_items.paginator.num_pages as num_pages %}Page {{ number }} of {{ num_pages }}.{% endblocktrans %}
        </span>

        {% if paginated_items.has_next %}
            <a href="?page={{ paginated_items.next_page_number }}{% if q %}&amp;q={{ q }}{% endif %}{% filer_admin_context_url_params '&' %}">
                {% trans "next" %}
            </a>
        {% endif %}
        <div class="actions">
            {% if actions_selection_counter %}
                <script>var _actions_icnt="{{ paginated_items.object_list|length|default:"0" }}";</script>
                <span class="action-counter">{{ selection_note }}</span>
                {% if paginator.count != paginated_items.object_list|length %}
                    <span class="all">{{ selection_note_all }}</span>
                    <span class="question">
                        <a href="javascript:void(0);" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with paginator.count as total_count %}Select all {{ total_count }}{% endblocktrans %}</a>
                    </span>
                    <span class="clear"><a href="javascript:void(0);">{% trans "Clear selection" %}</a></span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
