{% extends "admin/filer/base_site.html" %}
{% load i18n %}
{% load adminmedia filermedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{% filer_media_prefix %}js/popup_handling.js"></script>

{# upload stuff #}
<script type="text/javascript" src="{% filer_media_prefix %}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{% filer_media_prefix %}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{% filer_media_prefix %}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{% filer_media_prefix %}js/swfupload.js"></script>
<script type="text/javascript" src="{% filer_media_prefix %}js/swfupload.queue.js"></script>

{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}change-list filebrowser{% endblock %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
{% if query.pop %}
<style type="text/css">
#header { display: none; }
</style>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/admin/">Home</a> › <a href="/admin/filer/">Image Portfolio</a> › 
	<a href="{% url admin:filer-directory_listing-root %}">Root</a>
	{% for ancestor_folder in folder.get_ancestors %}
	 › <a href="{% url admin:filer-directory_listing ancestor_folder.id %}">{{ ancestor_folder.name }}</a>
	 {% endfor %} › 
	 {{ folder.name }}
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
	{% include "admin/filer/tools/clipboard/clipboard.html" %}
</div>
{% endblock %}


{% block content_title %}<h1>&nbsp;</h1>
{% endblock %}
{% block content %}
<div id="content-main">
	<ul class="object-tools">
		{% if folder.can_have_subfolders %}<li><a id="id_new_folder" href="{% url admin:filer-directory_listing-make_root_folder %}?parent_id={{ folder.id }}" class="addlink" onclick="return showAddAnotherPopup(this);">{% trans "New Folder" %}</a>{% endif %}</li>
		<li>{% include "admin/filer/tools/upload_button.html" %}</li>
		{% comment %}
		<li><a id="id_directory_root" href="{% url admin:filer-directory_listing-root %}{% if is_popup %}?_popup=1{% endif %}" class="link">Root</a></li>
		<li><a id="id_missing_data_images" href="{% url admin:filer-directory_listing-images_with_missing_data %}{% if is_popup %}?_popup=1{% endif %}" class="link">Incomplete Images</a></li>
		<li><a id="id_unfiled_images" href="{% url admin:filer-directory_listing-unfiled_images %}{% if is_popup %}?_popup=1{% endif %}" class="link">Unfiled Images</a></li>
		{% endcomment %}
    </ul>
	
    <div class="module" id="changelist">
    	{% include "admin/filer/tools/search_form.html" %}
		{% if not folder.is_root %}
		<h1 class="folder_header">{% if folder.parent %}<a href="{% url admin:filer-directory_listing folder.parent.id %}{% if is_popup %}?_popup=1{% endif %}">&uarr;</a>{% else %}<a href="{% url admin:filer-directory_listing-root %}{% if is_popup %}?_popup=1{% endif %}">&uarr;</a>{% endif %} 
			<img src="{{ folder.icons.64 }}" alt="Folder Icon" /> {{ folder.name }}
			<span class="small quiet">({% blocktrans count folder.children_count as counter %}1 folder{% plural %}{{ counter }} folders{% endblocktrans %}, {% blocktrans count folder.file_count as counter %}1 file{% plural %}{{ counter }} files{% endblocktrans %})</span>
			<span>{% if is_popup %}{% else %}<a style="display: block; float: right;" class="changelink" href="/admin/filer/folder/{{ folder.id }}/">Change</a>{% endif %}</span>
		</h1>
		{% else %}{% if folder.is_smart_folder %}
		<h1 class="folder_header"><a href="{% url admin:filer-directory_listing-root %}{% if is_popup %}?_popup=1{% endif %}">&uarr;</a>
			<img src="{{ folder.icons.64 }}" alt="Folder Icon" /> {{ folder.name }}
		</h1>
		{% endif %}
		{% endif %}
        {% include "admin/filer/folder/directory_table.html" %}
    </div>
</div>

{% endblock %}