{% load i18n staticfiles %}

{% if folder.parent %}
    <li>
        <a href="{% url 'admin:filer-directory_listing' folder.parent.id %}{% if is_popup %}?_popup=1{% if select_folder %}&amp;select_folder=1{% endif %}{% endif %}"
            title="{% trans 'Go back to the parent folder' %}">
            <img src="{% static 'icons/plainfolder_48x48.png' %}" alt="{% trans 'Folder Icon' %}" width="28" height="28">
            {{ folder.parent.name }}
        </a>
    </li>
    {% include "admin/filer/folder/folders_recursice.html" with folder=folder.parent %}
{% endif %}
