{% load i18n filer_admin_tags %}
{% django_version_gte 6 1 as new_breadcrumbs %}

{% if new_breadcrumbs %}
<ol class="breadcrumbs">
    <li><a href="{% url 'admin:index' %}" title="{% translate 'Go back to admin homepage' %}">{% translate "Home" %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label='filer' %}" title="{% translate 'Go back to Filer app' %}">{% translate "Filer" %}</a></li>
    <li><a href="{% url 'admin:filer-directory_listing-root' %}{% filer_admin_context_url_params %}" title="{% translate 'Go back to root folder' %}">{% translate "Folder" %}</a></li>
    {% for ancestor_folder in folder.logical_path %}
        <li><a href="{{ ancestor_folder.get_admin_directory_listing_url_path }}{% filer_admin_context_url_params %}" title="{% blocktranslate with folder_name=ancestor_folder.name %}Go back to '{{ folder_name }}' folder{% endblocktranslate %}">{% if ancestor_folder.label %}{{ ancestor_folder.label }}{% else %}{{ ancestor_folder.name }}{% endif %}</a></li>
    {% endfor %}
    {% if breadcrumbs_action %}
        <li>{% if folder.label %}{{ folder.label }}{% else %}{{ folder.name }}{% endif %}</li>
        <li><a href="{{ folder.get_admin_directory_listing_url_path }}" title="{% blocktranslate with folder_name=folder.name %}Go back to '{{ folder_name }}' folder{% endblocktranslate %}">{% if folder.label %}{{ folder.label }}{% else %}{{ folder.name }}{% endif %}</a></li>
        <li aria-current="page">{{ breadcrumbs_action }}</li>
    {% else %}
        <li{% if not instance %} aria-current="page"{% endif %}>{% if folder.label %}{{ folder.label }}{% else %}{{ folder.name }}{% endif %}</li>
        {% if instance %}
            <li aria-current="page">{% if instance.label %}{{ instance.label }}{% else %}{{ instance.name }}{% endif %}</li>
        {% endif %}
    {% endif %}
</ol>
{% else %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}" title="{% translate 'Go back to admin homepage' %}">
        {% translate "Home" %}
    </a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label='filer' %}" title="{% translate 'Go back to Filer app' %}">
        {% translate "Filer" %}
    </a>
    &rsaquo; <a href="{% url 'admin:filer-directory_listing-root' %}{% filer_admin_context_url_params %}" title="{% translate 'Go back to root folder' %}">{% translate "Folder" %}</a>
    {% for ancestor_folder in folder.logical_path %}
        &rsaquo;
        <a href="{{ ancestor_folder.get_admin_directory_listing_url_path }}{% filer_admin_context_url_params %}"
            title="{% blocktrans with ancestor_folder.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">
            {% if ancestor_folder.label %}{{ ancestor_folder.label }}{% else %}{{ ancestor_folder.name }}{% endif %}
        </a>
    {% endfor %}
    &rsaquo; {% if folder.label %}{{ folder.label }}{% else %}{{ folder.name }}{% endif %}
    {% if breadcrumbs_action %}
        &rsaquo;
        <a href="{{ folder.get_admin_directory_listing_url_path }}"
            title="{% blocktrans with folder.name as folder_name %}Go back to '{{ folder_name }}' folder{% endblocktrans %}">
            {% if folder.label %}
                {{ folder.label }}
            {% else %}
                {{ folder.name }}
            {% endif %}
        </a>
        &rsaquo;
        {{ breadcrumbs_action }}
    {% else %}
        {% if not instance.is_root and instance.is_smart_folder %}
            &rsaquo;
        {% endif %}
        {% if instance.label %}
            {{ instance.label }}
        {% else %}
            {{ instance.name }}
        {% endif %}
    {% endif %}
</div>
{% endif %}
