{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify adminmedia filer_admin_tags %}
{% load url from future %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {#<li><a href="export/">{% trans "Export" %}</a></li>#}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block coltype %}colMS row{% endblock %}
{% block field_sets %}
	{% for fieldset in adminform %}
	  {% include "admin/filer/fieldset.html" %}
	{% endfor %}
{% endblock %}

{% block content %} 
	<div id="content-main" class="col-lg-10 col-md-9 col-xs-12 no-padding-left">
		{{block.super}}
	</div>
{% endblock %}

{%block sidebar %}
  {{ block.super }}
{%endblock%}
{% block file_sidebar %}
<div id="navcontainer">
    <div id="image_container" class="thumbnail no-radius">
        <img src="{{ original.thumbnails.admin_sidebar_preview }}" alt="{{ original.label }}" rel="{{ adminform.form.sidebar_image_ratio }}" />
    </div>
    <a href="{% url 'admin:filer-image-preview' original.id %}{% get_popup_params %}"><i class="ace-icon fa fa-arrows-alt"></i>{% trans "Full size preview" %}</a>
</div>
{% endblock %}
