{% extends "admin/filer/base_site.html" %}
{% load url from future %}
{% load cycle from future %}
{% load filer_admin_tags i18n filermedia %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/admin/" title="Go back to admin homepage">Home</a>
            </li>
            <li><a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst }}</a></li>
            <li>{{ opts.verbose_name_plural|capfirst }}</li>
        </ul>
    </div>
{% endblock %}

{% block extrastyle %}{{ block.super }}
{{ media.css }}
{% endblock %}

{% block content %}
{% spaceless %}
<div id="content-main">
    <div class="module" id="changelist">
        <div id="toolbar" class="dataTables_wrapper">
            <div class="row">
                <form id="changelist-search" action="." method="get" class="col-xs-5 pull-right text-right">
                    {% csrf_token %}
                     <div class="search-wrapper">
                        <input type="text" size="40" name="q" value="{{ search_string }}" id="searchbar" title="{% trans "Enter your search phrase here" %}"/>
                        <button title="{% trans "Click here to" %} {% trans "run search for entered phrase" %}" class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i></button>
                    </div>
                    {% if search_string %}
                        <div class="special-info">
                            <h4 class="smaller pull-left">Search results for: <span class="blue">{{ search_string }}</span></h4>
                            <a href="?{% get_popup_params '&' %}" class="pull-left cancel-search btn btn-xs btn-white btn-default btn-round"><i class="ace-icon fa fa-times red2"></i>{% trans "Cancel search" %}</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <script type="text/javascript">document.getElementById("searchbar").focus();</script>
        <form id="changelist-form" action="" method="post">{% csrf_token %}
        <div id="toolbartable" class="dataTables_wrapper">
            <table cellspacing="0" class="table table-bordered table-hover table-striped no-margin-bottom">
                <thead>
                    <tr class="{% cycle 'row1' 'row2' as rowcolors %}">
                        <th class="thumbHeader">&nbsp;</th>
                        <th>{% trans 'Path' %}</th>
                        <th>{% trans 'Deletion Date' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in paginated_items.object_list %}
                    {% if item.file_type == 'Folder' %}
                        {% with item as subfolder %}
                        <tr class="{% cycle rowcolors %}">
                            {% include "admin/filer/trash/subfolder_row.html" %}
                        </tr>
                        {% endwith %}
                    {% endif %}

                    {% if item.file_type == 'File' or item.file_type == 'Image' or item.file_type == 'Archive' %}
                        {% with item as file %}
                        <tr class="{% cycle rowcolors %}">
                            {% include "admin/filer/trash/file_row.html" %}
                        </tr>
                        {% endwith %}
                    {% endif %}
                {% empty %}
                    <tr class="{% cycle rowcolors %}">
                        <td colspan="5" class="row1" style="text-align: center;vertical-align: middle;height:128px;color: gray;">{% trans "there are no files or subfolders" %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="paginator row center">
                 <div class="col-xs-12">
                    {% if paginated_items.has_previous %}
                        <a href="?page={{ paginated_items.previous_page_number }}{% if search_string %}&q={{search_string}}{% endif %}" class="btn btn-success btn-sm"><i class="ace-icon fa fa-long-arrow-left"></i>{% trans "previous" %}</a>
                    {% endif %}

                    <span class="this-page">
                        {% blocktrans with paginated_items.number as number and paginated_items.paginator.num_pages as num_pages %}
                        Page {{ number }} of {{ num_pages }}.
                        {% endblocktrans %}
                    </span>

                    {% if paginated_items.has_next %}
                        <a href="?page={{ paginated_items.next_page_number }}{% if search_string %}&q={{search_string}}{% endif %}" class="btn btn-success btn-sm">{% trans "next" %}<i class="ace-icon fa fa-long-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        </form>
    </div>
</div>
{% endspaceless %}
{% endblock %}
