{% load i18n filermedia filer_tags %}
{% load url from future %}
<!-- FileIcon -->
<td>
    <img src="{% if file.icons.32 %}{{ file.icons.32 }}{% else %}{% filer_staticmedia_prefix %}icons/missingfile_32x32.png{% endif %}" alt="{{ file.default_alt_text }}" />
</td>
<!-- Filename/Dimensions -->
<td>
    <a style="display: block; float: right;" class="changelink" href="{% url 'admin:filer_trash_file' file.id %}" title="{% blocktrans with file.label as item_label %}Restore '{{ item_label }}' file{% endblocktrans %}">{% trans "Restore" %}</a>
    <div>
        <b><span>{{ file.pretty_logical_path }}</span></b>
        <span class="tiny"> ({{ file.size|filesize:"auto1000long" }}{% ifequal file.file_type "Image" %}, {{ file.width }}x{{ file.height }} px{% endifequal %})</span>
    </div>
    <div>{% trans "Owner" %}: {% firstof file.owner.email file.owner.username "n/a" %}</div>
</td>
