{% load i18n filer_admin_tags staticfiles %}

{% spaceless %}

{% if direct_upload_enabled %}
    <div class="dz-preview dz-file-preview hidden js-filer-dropzone-template">
        <span class="filerFile">
            <div class="dz-thumbnail"><img class="quiet" data-dz-thumbnail></div>
            <span data-dz-name class="dz-name"></span>
            <img class="filerClearer" src="{% static 'admin/img/icon_deletelink.gif' %}" width="10" height="10" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}" data-dz-remove>
            <div class="dz-progress js-filer-dropzone-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        </span>
    </div>

    <div class="js-filer-dropzone filer-dropzone{% if object %} js-object-attached{% endif %}" data-url="{{ direct_upload_url }}" data-max-file-size="20">
        <div class="z-index-fix"></div>
        <div class="dz-default dz-message js-filer-dropzone-message{% if object %} hidden{% endif %}" id="{{ id }}_filer_dropzone_message">
            <span class="icon fa fa-arrow-down"></span>
            {% if file_lookup_enabled %}
                <span>{% trans "or drop your file here" %}</span>
            {% else %}
                <span>{% trans "drop your file here" %}</span>
            {% endif %}
        </div>
{% endif %}
        <span class="filerFile js-file-selector" data-id="{{ id }}">
            {% if object %}
                {% if object.icons.32 %}
                    <a href="{{ object.url }}" target="_blank"><img id="{{ thumb_id }}" src="{{ object.icons.48 }}" alt="{{ object.label }}"></a>
                    &nbsp;<span id="{{ span_id }}">{{ object.label }}</span>
                {% else %}
                    <img id="{{ thumb_id }}" src="{% static 'filer/icons/missingfile_48x48.png' %}" alt="{% trans 'file missing' %}">
                    &nbsp;<span id="{{ span_id }}">{% trans 'file missing' %}</span>
                {% endif %}
            {% else %}
                <img id="{{ thumb_id }}" class="quiet hidden" alt="">
                &nbsp;<span id="{{ span_id }}"></span>
            {% endif %}

            {% if file_lookup_enabled %}
                <a href="{{ lookup_url }}" class="js-related-lookup related-lookup{% if object %} hidden{% endif %}" id="{{ id }}_lookup" data-id="{{ id }}" title="{% trans 'Lookup' %}"{% if not IS_DJANGO_18 %} onclick="return showRelatedObjectLookupPopup(this);"{% endif %}>
                    {% trans 'Choose File' %}
                </a>
            {% endif %}

            <img id="{{ clear_id }}" class="filerClearer" src="{% static 'admin/img/icon_deletelink.gif' %}" width="10" height="10" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}"{% if not object %} style="display: none;"{% endif %}>

            <br>

            {{ hidden_input }}
        </span>

{% if direct_upload_enabled %}
    </div>
{% endif %}

{% endspaceless %}