{% load i18n filer_admin_tags staticfiles %}{% spaceless %}
{% if object %}
    {% trans 'Folder' %}: <span id="{{ span_id }}">{{ object.pretty_logical_path }}</span>
{% else %}
    {% trans 'Folder' %}: <span id="{{ span_id }}">{% trans 'none selected' %}</span>
{% endif %}
{% render_filer_lookup_button %}
<img id="{{ clear_id }}" src="{% static 'admin/img/icon_deletelink.gif' %}" width="10" height="10" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}"{% if not object %} style="display: none;"{% endif %} />
<br />
{{ hidden_input }}
<script type="text/javascript">django.jQuery("#{{ id }}").hide();
django.jQuery("#{{ id }}_clear").click(function(){
    django.jQuery("#{{ id }}").removeAttr("value");
    django.jQuery("#{{ foldid }}").attr("src", "{% static noimg %}");
    django.jQuery("#{{ descid }}").html("");
});
django.jQuery(document).ready(function(){
    var plus = django.jQuery("#add_{{ id }}");
    if (plus.length){
        plus.remove();
    }
});
</script>
{% endspaceless %}
