// #MAIN LAYOUT#

html,
body {
    height: 100% !important;
}

body {
    overflow-x: auto;
    min-width: 400px !important;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.image-info {
    position: relative;
    float: right;
    box-sizing: border-box;
    width: 28%;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    .image-details,
    .actions-list {
        margin: 0;
        padding: 0;
        &.image-details {
            margin: 10px 0;
            padding: 0 10px;
        }
        li {
            list-style-type: none;
        }
        a {
            cursor: pointer;
        }
    }
    &.image-info-detail {
        @include clearfix();
        position: static;
        float: none;
        width: 100%;
        margin-bottom: 20px;
        padding: 25px;
        border-radius: 0;
        .image-details-left {
            float: left;
        }
        .image-details-right {
            float: left;
        }
        .icon {
            font-size: 18px;
        }
        .image-details,
        .actions-list {
            margin-top: 0;
            border: 0 !important;
            &.image-details {
                margin-top: 20px;
                margin-bottom: 15px;
                padding: 0;
            }
            dt {
                float: left;
                color: #808080;
                font-size: 13px;
                font-weight: normal;
            }
            dd {
                color: $gray;
                font-size: 13px;
                padding-left: 80px;
            }
            .text {
                font-size: 13px;
                margin-right: 15px;
                strong {
                    font-size: 13px;
                }
            }
            li {
                color: $gray;
                font-size: 13px !important;
                font-weight: normal !important;
                padding: 1px 0 !important;
                border: 0 !important;
            }
            a {
                padding: 0;
            }
        }
        .image-info-title {
            overflow: hidden;
            color: $gray;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 0 5px;
            .icon {
                float: left;
                margin-right: 5px;
            }
        }
        .image-preview-container {
            text-align: left;
            margin: 20px 0 0;
            padding: 0;
            > img {
                margin-bottom: 15px;
            }
        }
        .actions-list {
            .icon {
                font-size: 16px;
                &:last-child {
                    float: none;
                }
            }
        }
    }
}

.image-info-close {
    position: absolute;
    top: -10px;
    right: -7px;
    font-size: 20px;
    cursor: pointer;
}

.image-info-title {
    padding: 5px 10px;
    border-bottom: solid 1px $gray-lighter;
    a {
        margin-left: 5px;
    }
}
.image-preview-container {
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    .image-preview {
        position: relative;
        float: left;
        margin: 0 15px 0 0;
        margin-bottom: 15px;
    }
}
.cropper-container {
    float: left;
}
.cropper-preview-container {
    float: left;
    width: 300px;
}
.cropper-preview {
    float: left;
    overflow: hidden;
    margin: 0 10px 10px 0;
    img {
        max-width: 100%;
    }
}
.cropper-preview-lg {
    width: 180px;
    height: 100px;
}
.cropper-preview-md {
    width: 100px;
    height: 50px;
}
.cropper-preview-sm {
    width: 50px;
    height: 30px;
}
.cropper-preview-xs {
    width: 30px;
    height: 30px;
}
.full-size {
    clear: both;
}
.actions-list-dropdown {
    a {
        display: block;
        padding: 5px 10px;
    }
    .caret-down {
        display: inline-block;
    }
    .caret-right {
        display: none;
    }
    &.js-collapsed {
        border-bottom: solid 1px $gray-lighter;
        .caret-down {
            display: none;
        }
        .caret-right {
            display: inline-block;
        }
    }
}
.actions-list {
    border-top: solid 1px $gray-lighter;
    &:last-child {
        border-top: none;
        a {
            border-bottom: none;
        }
    }
    a {
        display: block;
        padding: 5px 10px;
        border-bottom: solid 1px $gray-lighter;
    }
    .icon {
        &:first-child {
            width: 20px;
        }
        &:last-child {
            float: right;
            margin-top: 3px;
        }
    }
}

@media screen and (max-width: 768px) {
    .image-info {
        float: none;
        width: 100%;
    }
}

.filter-files-container {
    position: relative;
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    .dropdown-container {
        position: absolute;
        top: 0;
        right: 42px;
        > a {
            &,
            &:visited,
            &:link:visited,
            &:link {
                display: inline-block;
                line-height: 42px;
                text-align: center;
                width: 42px;
                height: 42px;
            }
        }
    }
}
.filter-files {
    color: $gray-darkest;
    font-size: 14px;
    line-height: 42px;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 0 30px 0 20px !important;
    border-left: 0 !important;
    border-radius: 0;
    outline: none;

    appearance: none;
}
.filter-files-button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 42px !important;
    text-align: center;
    width: 42px !important;
    height: 42px;
    margin: 0;
    padding: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    .icon {
        position: relative;
        top: 14px;
        vertical-align: top;
    }
}
.filter-files-cancel {
    margin: 5px 20px;
}

.navigator-table {
    tbody td {
        padding: 5px 10px !important;
    }
    .unfiled td {
        background-color: $gray-table !important;
    }
    .column-checkbox {
        text-align: center;
        width: 20px;
        padding-left: 20px !important;
        input {
            margin: 0;
        }
    }
    .column-icon {
        width: 25px;
        img {
            width: 25px;
        }
    }
    .column-action {
        text-align: center;
        width: 70px;
        padding-right: 20px !important;
        a {
            font-size: 16px !important;
            margin: 0 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .icon {
            position: relative;
            top: 2px;
            width: 20px;
        }
    }
    .dz-drag-hover,
    &.dz-drag-hover {
        background: $hover-bg;
    }
}

.navigator-top-nav {
    position: relative;
    clear: both;
    min-height: 50px;
    padding: 5px 0;
    background: $gray-table;
    .breadcrumbs-container {
        float: left;
    }
    .nav-button {
        display: inline-block;
        color: $btn-default-color;
        font-size: 26px;
        vertical-align: top;
        margin: 0 10px;
    }
    .nav-button-filter {
        position: relative;
        top: -1px;
    }
    .nav-button-dots {
        margin: 0;
        padding: 0 15px;
    }
    .separator {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 1px;
        height: 34px;
        margin: 0 5px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -14px;
            bottom: -11px;
            overflow: hidden;
            width: 1px;
            background-color: #ccc;
        }
    }
}
.navigator-tools {
    float: right;
    margin: 10px 20px 0 0;
}
@media screen and (max-width: $screen-tablet) {
    .navigator-top-nav {
        .breadcrumbs-container {
            float: none;
        }
        .navigator-tools {
            float: none;
            margin-left: 17px;
            .separator:before {
                top: 0;
                bottom: 0;
            }
        }
        .dropdown-container .dropdown-menu {
            right: auto;
            left: 0;
        }
    }
}
.navigator-button {
    margin-left: 10px;
    &,
    &:visited,
    &:link:visited,
    &:link {
        @include button-variant($btn-action-color, $btn-action-bgcolor, $btn-action-border, true);
        display: inline-block;
        vertical-align: top;
        padding: 10px 20px !important;
    }
    .icon {
        position: relative;
        margin-right: 5px;
    }
    .fa-folder {
        top: 0;
    }
}

.navigator-button + .dropdown-menu {
    margin-top: -2px;
}

.dropdown-container {
    display: inline-block;
    position: relative;
    top: 6px;
    vertical-align: top;
    .dropdown-menu {
        display: none;
        right: 0;
        left: auto;
        label {
            display: block;
            white-space: nowrap;
            text-transform: none;
            padding: 0 10px;
        }
        input {
            position: relative;
            top: 4px;
            vertical-align: top;
            margin-right: 5px;
        }
        &.dropdown-menu-checkboxes {
            right: 0;
            left: auto;
        }
    }
    &.open .dropdown-menu {
        display: block;
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
}
.dropdown-container-down {
    top: -5px;
    > a {
        &,
        &:link,
        &:visited,
        &:link:visited {
            color: $gray-light;
            font-size: 20px;
            line-height: 30px;
            height: 30px;
            padding: 0 10px;
        }
    }
    .dropdown-menu {
        right: auto;
        left: 0;
        margin-top: -3px;
    }
}

.navigator {
    position: relative;
    overflow-x: auto;
    width: 100%;
    form {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

.nav-pages {
    position: relative;
    padding: 10px 15px;
    background: #fff;
}

@media screen and (max-width: $screen-tablet) {
    .image-info {
        float: none;
        width: 100%;
        &.image-info-detail {
            .image-details-left,
            .image-details-right {
                float: none;
                margin-left: 0;
            }
        }
    }
}
#id_upload_button:before {
    display: none;
}
#container .breadcrumbs-container .breadcrumbs {
    top: -91px;
    right: 0;
    left: 0;
}

.app-filer #container .breadcrumbs {
    position: relative;
}

.app-filer #content {
    margin-top: 20px !important;
}

.filebrowser {
    &.popup #content {
        box-shadow: none;
    }
    #content {
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }
}

.filebrowser h1.folder_header {
    position: relative;
    top: 6px;
}

.filebrowser #container #content {
    margin-top: 90px !important;
}
.popup.filebrowser #container #content {
    margin-top: 10px !important;
}

.navigator-breadcrumbs {
    font-size: 16px;
    font-weight: bold;
    padding: 17px 0 0 20px;
    > a {
        color: $gray-darkest !important;
    }
    .icon {
        color: $gray-light;
        margin: 0 5px;
    }
}

.field-file,
.field-sha1 {
    word-wrap: break-word;
    word-break: break-all;
}

#content #content-main {
    margin-top: 0;
}
.related-lookup.hidden {
    display: none !important;
}
.well.img-preview {
    display: none;
    margin-top: 0;
}
.img-wrapper {
    width: 180px;
    height: 180px;
}
.dz-upload {
    height: 5px;
    background-color: #0bf;
}
.dz-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
}
.dz-thumbnail {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border: solid 1px #ddd;
    border-radius: 3px;
    background: #fff url("/static/filer/icons/nofile_48x48.png");
    background-size: cover;
    img {
        background: #fff;
        &[src=""],
        &:not([src]) {
            width: 104%;
            height: 104%;
            margin: -2%;
        }
    }
}
.popup {
    .dropzone {
        padding: 15px 20px 20px;
    }
    form .form-row .dropzone .filerFile {
        top: 58px;
    }
}
.dropzone-info-message {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    width: 270px;
    margin: -50px 0 0 -150px;
    padding: 15px;
    border: solid 1px $color-primary;
    background: $white;
    .icon {
        font-size: 30px;
    }
    .text {
        margin: 15px 0 10px 0;
    }
}
.dropzone-upload-info {
    margin-top: 10px;
}
.dropzone-progress {
    height: 5px;
    margin-top: 5px;
    background-color: #0bf;
}
