{% load adminmedia %}
{% load i18n %}

<tr class="{% cycle rowcolors %}">
    <!-- FileIcon -->
    <td>{% if file.has_all_mandatory_data %}<img alt="0" src="{{ IMAGE_FILER_MEDIA_URL }}admin/img/admin/icon-yes.gif"/>{% else %}<img alt="1" src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-no.gif"/>{% endif %}</td>
	<td>{% if file.thumbnails.admin_directory_listing_icon %}<img src="{{ file.thumbnails.admin_directory_listing_icon }}" alt="{{ file.default_alt_text }}" />{% endif %}</td>
    <!-- Filename/Dimensions -->
    <td><b><a href="/admin/image_filer/image/{{ file.id }}/">{{ file.label }}</a></b><br /><span class="tiny">{{ file.file.width }} x {{ file.file.height }} px</span></td>
	<td>{{ file.owner }}</td>
	<td>{% if file.is_original %}original{% else %}cloned{% endif %}</td>
	<td>{{ request }}
		<form action="{% url admin:image_filer-move_file_to_clipboard %}" method="post">
			<input type="hidden" name="file_id" value="{{ file.id }}" />
			<input type="hidden" name="redirect_to" value="{{ current_url }}" />
			<input type="submit" value="move to clipboard" />
		</form>
	</td>
</tr>
 