{% load adminmedia %}
{% load i18n %}
<div id="toolbar">
	<div style="float: left;">
		<form id="changelist-search" action="" method="get">
			<div><!-- DIV needed for valid HTML -->
			<label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
			{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
			<input type="text" size="40" name="q" value="{{ search_string }}" id="searchbar" />
			<input type="submit" value="{% trans 'Go' %}" />
			<input type="checkbox" id="limit_search_to_folder" name="limit_search_to_folder"{% if limit_search_to_folder %} checked{% endif %} /> <label for="limit_search_to_folder">limit search to current folder</label>
			{% if show_result_count %}
			<span class="small quiet">(found {% blocktrans count folder_children|length as counter %}1 folder{% plural %}{{ counter }} folders{% endblocktrans %} and
			{% blocktrans count folder_files|length as counter %}1 image{% plural %}{{ counter }} images{% endblocktrans %}) <a href="?">forget search</a></span>
			
			{% endif %}
			</div>
		</form>
	</div>
	<div style="float: right;">
		<a class="small_folder_link" style="background-image: url({{ IMAGE_FILER_MEDIA_URL }}icons/incomplete_metadata_folder_32x32.png);" id="id_missing_data_images" href="{% url admin:image_filer-directory_listing-images_with_missing_data %}{% if is_popup %}?_popup=1{% endif %}">{% trans "files with missing metadata" %}</a>
		<a class="small_folder_link" style="background-image: url({{ IMAGE_FILER_MEDIA_URL }}icons/unfiled_folder_32x32.png);" id="id_unfiled_images" href="{% url admin:image_filer-directory_listing-unfiled_images %}{% if is_popup %}?_popup=1{% endif %}" class="link">{% trans "unfiled files" %}</a>
	</div>
	<div style="clear: both;"></div>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
