{% load i18n %}

<section class="image-info">
    {% if original.original_filename %}
    <div class="image-info-title">
        {{ original.original_filename }}
        <a href="#" class="fa fa-pencil"></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <div class="image-preview-container">
        <div class="image-preview js-focal-point" data-location-selector="#id_subject_location">
            <img src="{{ original.thumbnails.admin_sidebar_preview }}" data-ratio="{{ adminform.form.sidebar_image_ratio }}" class="js-focal-point-image">
            <div class="js-focal-point-circle image-preview-circle hidden"></div>
        </div>

        <div class="text-left">
            <a href="{{ original.url }}" target="_blank" class="btn">Full size preview</a>
        </div>
    </div>
        </div>
        <div class="col-sm-6">
            <ul class="image-details">
                {% if original.file_type %}
                <li class="row">
                    <div class="col-xs-3">
                        Type
                    </div>
                    <div class="col-xs-9">
                        {{ original.file_type }}
                    </div>
                </li>
                {% endif %}
                <li class="row">
                    <div class="col-xs-3">
                        Size
                    </div>
                    <div class="col-xs-9">
                        <span style="color:red">1765x1249 px</span>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-3">
                        File-size
                    </div>
                    <div class="col-xs-9">
                        <span style="color:red">2.3 MB</span>
                    </div>
                </li>
                {% if original.modified_at %}
                <li class="row">
                    <div class="col-xs-3">
                        Modified
                    </div>
                    <div class="col-xs-9">
                         {{ original.modified_at }}
                    </div>
                </li>
                {% endif %}
                {% if original.uploaded_at %}
                <li class="row">
                    <div class="col-xs-3">
                        Created
                    </div>
                    <div class="col-xs-9">
                        {{ original.uploaded_at }}
                    </div>
                </li>
                {% endif %}
            </ul>

            <div class="image-actions">
                <ul class="actions-list">
                    <li>
                        <a href="#">
                            <span class="icon fa fa-user"></span>
                            {% if original.owner %}<span class="text">Owner: {{ original.owner }}</span>{% endif %}
                            <span class="icon fa fa-pencil"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
