{% load i18n staticfiles filer_admin_tags %}

{% if show_result_count %}
    <div class="small quiet filter-files-cancel">
        ({% trans "found" %} {% blocktrans count folder_children|length as counter %}{{ counter }} folder{% plural %}{{ counter }} folders{% endblocktrans %} {% trans "and" %}
        {% blocktrans count folder_files|length as counter %}
            {{ counter }} file{% plural %}{{ counter }} files
        {% endblocktrans %})
        <a href="{% filer_admin_context_url_params %}">{% trans "cancel search" %}</a>
    </div>
{% endif %}
