{% load i18n admin_modify filermedia %}

<script type="text/javascript">
//<![CDATA[
$(function() {
    var uploader = new qq.FileUploaderBasic({
        action: '{% url 'admin:filer-ajax_upload' %}',
        button: document.getElementById('id_upload_button'),
        onSubmit: function(id, fileName){
            $("#fileInputQueue .noItemsRow").hide();
            $('#fileInputQueue').append('<tr id="fileUpload-' + id + '" class="clipboardItem fileUploadQueueItem"><td class="no-border"><div class="thumbnail no-radius custom-margin loadingThumb text-center"><i class="ace-icon fa fa-spinner fa-spin blue bigger-225"></div></td><td class="no-border"><div><span class="fileName">' + fileName + ' </span><small>(<span class="size">?</span>)</small></div><div class="fileUploadProgress progress pos-rel no-margin" style="width: 100%;height:18px;"><div id="fileUpload-' + id + '-ProgressBar" class="fileUploadProgressBar progress-bar progress-bar-striped active" style="height:18px;"></div></div></td></tr>');
        },
        onProgress: function(id, fileName, loaded, total){
            var percent = Math.round(loaded / total * 100);
            $('#fileUpload-' + id + ' .size').html(uploader._formatSize(total));
            $('#fileUpload-' + id + '-ProgressBar').css('width', percent + "%").parent().attr('data-percent', percent + '%');
        },
        onComplete: function(id, fileName, responseJSON){
            var file = responseJSON;
            if (file.error) {
                var html = '\
                <td class="no-border" width="60"><div class="thumbnail no-radius custom-margin"><img style="width: 32px;height: 32px;" src="{% filer_staticmedia_prefix %}/icons/missingfile_32x32.png" alt="{% trans 'file missing' %}"></div></td>\
                <td class="no-border">' + file.error + '</td>\
                <td class="buttons no-border"></td>';
            } else {
                var html = '\
                    <td class="no-border" width="60"><div class="thumbnail no-radius custom-margin"><img style="width: 32px;height: 32px;" src="' + file.thumbnail + '" alt="' + file.alt_text + '" ></div></td>\
                    <td class="no-border">' + file.label + '</td>\
                    <td class="buttons no-border"></td>';
            }
            $('#fileUpload-' + id).html(html);
        },
        onCancel: function(id, fileName){
            $('#fileUpload-' + id).hide();
        }
    });
});
//]]>
</script>
