{% load i18n admin_modify staticfiles %}

<script type="text/javascript">
    //<![CDATA[
    (function ($) {
        $(function () {
            var submitNum = 0;
            var maxSubmitNum = 1;
            var hiddenClass = 'hidden';
            var uploadWelcome = $('.js-dropzone-upload-welcome');
            var uploadSuccess = $('.js-dropzone-upload-success');
            var uploadInfo = $('.js-dropzone-upload-info');
            var uploadFileName = $('.js-dropzone-file-name');
            var uploadProgress = $('.js-dropzone-progress');
            var uploadNumber = $('.js-dropzone-upload-number');
            var infoMessage = $('.js-dropzone-info-message');
            var hasErrors = false;

            var uploader = new qq.FileUploaderBasic({
                action: '{% url "admin:filer-ajax_upload" folder_id=folder.id %}',
                button: document.getElementById('id_upload_button'),
                onSubmit: function () {
                    submitNum++;

                    if (maxSubmitNum < submitNum) {
                        maxSubmitNum = submitNum;
                    }
                },
                onProgress: function (id, fileName, loaded, total) {
                    var percent = Math.round(loaded / total * 100);

                    uploadWelcome.addClass(hiddenClass);
                    uploadSuccess.addClass(hiddenClass);
                    uploadInfo.removeClass(hiddenClass);
                    uploadNumber.text(maxSubmitNum - submitNum + 1 + '/' + maxSubmitNum);
                    uploadFileName.removeClass(hiddenClass).text(fileName);
                    uploadProgress.removeClass(hiddenClass).width(percent + '%');
                    infoMessage.removeClass(hiddenClass);
                },
                onComplete: function (id, fileName, responseJSON) {
                    var file = responseJSON;

                    if (file.error) {
                        hasErrors = true;
                        window.showError(fileName + ': ' + file.error);
                    }

                    submitNum--;

                    if (submitNum === 0) {
                        maxSubmitNum = 1;

                        uploadWelcome.addClass(hiddenClass);
                        uploadSuccess.removeClass(hiddenClass);
                        uploadNumber.addClass(hiddenClass);
                        uploadFileName.addClass(hiddenClass);
                        uploadProgress.addClass(hiddenClass).width(0);
                        infoMessage.removeClass(hiddenClass);

                        if (hasErrors) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 3000);
                        } else {
                            window.location.reload();
                        }
                    }
                }
            });
        });
    })(django.jQuery);
    //]]>
</script>
