//##############################################################################
// ACTION LIST

.actions-list-dropdown {
    a {
        display: block;
        padding: 5px 10px;
    }
    .caret-down {
        display: inline-block;
    }
    .caret-right {
        display: none;
    }
    &.js-collapsed {
        border-bottom: solid 1px $gray-lighter;
        .caret-down {
            display: none;
        }
        .caret-right {
            display: inline-block;
        }
    }
}
.actions-list {
    border-top: solid 1px $gray-lighter;
    &:last-child {
        border-top: none;
        a {
            border-bottom: none;
        }
    }
    a {
        display: block;
        font-size: 20px;
        padding: 5px 10px;
        border-bottom: solid 1px $gray-lighter;
    }
    .icon {
        &:first-child {
            width: 20px;
        }
        &:last-child {
            float: right;
            margin-top: 3px;
        }
    }
}
.actions-separated-list {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    @media screen and (max-width: $screen-tablet) {
        float: left;
        margin-left: 0;
    }
    li {
        display: inline-block;
        line-height: 34px;
        vertical-align: middle;
        padding: 0 10px;
        list-style: none;
        @media screen and (max-width: $screen-tablet) {
            &:first-child {
                padding-left: 0;
            }
        }
        span {
            vertical-align: middle;
        }
        a {
            color: $gray;
        }
    }
    span:before {
        font-size: 18px;
    }
}
