//##############################################################################
// FILTER FILES

.filter-files-container {
    @include clearfix;
    position: relative;
    float: right;
    margin: 0 10px 10px 0;
    padding: 0;
    background: none;
    box-shadow: none;
    @media screen and (max-width: $screen-tablet) {
        float: none;
        margin-top: 0;
    }
    &.is-focused {
        .filter-files-field {
            width: 100% !important;
        }
        @media screen and (max-width: $screen-tablet) {
            .filter-search-wrapper {
                width: calc(100% - 50px);
            }
            .filter-files-button {
                float: right;
            }
        }
        .dropdown-menu-checkboxes {
            width: 334px;
        }
    }
    .dropdown-container {
        position: absolute;
        top: 0;
        right: 0;
        > a {
            &,
            &:visited,
            &:link:visited,
            &:link {
                display: inline-block;
                line-height: 34px;
                text-align: center;
                width: 34px;
                height: 34px;
                padding: 0;
            }
        }
        &.open + .dropdown-menu-checkboxes {
            display: block;
            li {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
        }
    }
    .filter-search-wrapper {
        position: relative;
        float: right;
        margin-right: 5px;
        @media screen and (max-width: $screen-tablet) {
            float: left;
        }
    }
    .filter-files-button {
        float: right;
        text-align: center;
        margin: 0;
        padding: 8px !important;
        .icon {
            position: relative;
            left: 2px;
            font-size: 16px !important;
            vertical-align: top;
        }
        @media screen and (max-width: $screen-tablet) {
            float: none;
        }
    }
    .filter-files-field {
        color: $gray-darkest;
        font-size: 14px !important;
        line-height: 34px;
        box-sizing: border-box;
        width: 168px !important;
        height: 34px;
        // required for django CMS <= 3.1 #673
        margin: 0;
        padding: 0 35px 0 10px !important;
        outline: none;

        appearance: none;
        // disable clear X on IE #690
        &::-ms-clear {
            display: none;
        }
    }
    .dropdown-menu {
        margin-top: 0 !important;
        margin-right: -1px !important;
    }
    @media screen and (max-width: $screen-tablet) {
        &,
        &.is-focused {
            margin: 0 10px 10px 0;
        }
    }
}
.filter-files-cancel {
    margin: 5px 20px;
}
