//##############################################################################
// ICONS

.dz-success-mark,
.dz-error-mark,
.dz-remove {
    &:before {
         @extend %icon;
         font-size: $font-size-large;
         vertical-align: middle;
         margin-right: 5px;
    }
}
