//##############################################################################
// MODAL

.popup {
    .image-info-detail {
        padding: 0;
        padding-bottom: 25px;
        margin-bottom: 30px;
        box-shadow: none;
        border-bottom: solid 1px $gray-lighter;
    }
    &.change-list.filebrowser {
        #result_list tbody th,
        #result_list tbody td {
            // makes sure that changelist columns has correct height on modal window #665
            height: auto;
        }
    }
    .filer-dropzone {
        padding: 15px 20px 20px;
    }
    form .form-row .filer-dropzone .filerFile {
        top: 58px;
    }
    &.filebrowser #container #content {
        margin-top: 10px !important;
    }
}
