//##############################################################################
// OLD STUFF

#image_container {
    position: relative;
    img, svg {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
}
.transpTiling {
    outline: 1px solid #e3e3e3;
    background-image: url('data:image/gif;base64,R0lGODlhCAAIAKECAOPj4/z8/P///////yH5BAEKAAIALAAAAAAIAAgAAAINhBEZh8q6DoTPSWvoKQA7');
    &:hover {
        background-image: url('data:image/gif;base64,R0lGODlhCAAIAKECAEFBQXR0dP///////yH5BAEKAAIALAAAAAAIAAgAAAINhBEZh8q6DoTPSWvoKQA7');
    }
}
#fileUploadFakeLink {
    position: relative;
}
#fileInputUploaderContainer {
    position: absolute;
    top: 0;
    left: -8px;
}
.loadingThumb {
    width: 32px;
    height: 32px;
    background-image: url('../img/loading_animation.gif');
    background-repeat: no-repeat;
}
#content-top-bar {
    margin-bottom: 20px;
    .object-tools {
        margin-top: -32px;
        text-align: right;
        li {
            display: inline-block !important;
            float: none !important;
        }
    }
    .changelink {
        padding-left: 15px !important;
        border: 0 !important;
        font-weight: normal !important;
        color: #029eee !important;
        background: url('../img/icon_changelink.gif') 0 center no-repeat !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}
.clipboard {
    float: left;
    overflow-x: auto;
    box-sizing: border-box;
    width: 18% !important;
    margin-top: -1px !important;
    border: 1px solid $gray-lighter !important;
    form {
        padding-top: 0 !important;
    }
    table {
        margin: 0;
        border: 0 !important;
        td {
            border-color: $gray-lighter;
            border-right: 0 !important;
        }
        th {
            padding-top: 1px !important;
            padding-bottom: 1px !important;
        }
        tfoot td {
            border-bottom: 0 !important;
        }
    }
    .deletelink {
        padding: 4px 10px;
        border: 1px solid #999;
        background: #e1e1e1 url('../img/button-bg.gif') bottom left repeat-x;
    }
    tr td.thumbnail {
        width: 40px;
    }
}
a.insertlinkButton {
    padding: 4px;
    padding-left: 28px;
    background-image: url('../img/select_item.gif');
    background-repeat: no-repeat;
    &:hover {
        background-image: url('../img/select_item-hover.gif');
    }
}
a.small_folder_link {
    display: block;
    float: right;
    height: 36px;
    padding-right: 4px;
    padding-left: 36px;
    line-height: 36px;
    background-image: url('../icons/plainfolder_32x32.png');
    background-repeat: no-repeat;
}
#toolbartable {
    overflow-x: auto;
    td {
        border-right: solid 1px $gray-lighter;
    }
    th {
        border-right: solid 1px $gray-lighter;
    }
    + .paginator {
        border-right: solid 1px $gray-lighter;
    }
}
table thead th.thumbHeader {
    width: 52px;
}
.fileUploadQueueItem .fileUploadProgress .fileUploadProgressBar {
    background-color: black;
}
.filebrowser #changelist {
    overflow: hidden;
    .change {
        text-align: right;
        a {
            display: block;
            float: right;
        }
    }
    .moveto {
        min-width: 180px;
        text-align: right;
        a {
            display: inline-block;
            margin-right: 10px;
        }
        button {
            float: right;
        }
    }
}
h1.folder_header {
    margin-bottom: 0;
    background-image: url('../img/nav-bg.gif');
    background-repeat: repeat-x;
    background-position: bottom;
}
