@use "colors";

@mixin dialog {
	dialog {
		z-index: 3;
		border: 1px solid colors.$border-color;
		border-radius: 4px;
		box-shadow: 0 0 8px colors.$border-color;
		display: flex;
		flex-direction: column;
		width: max-content;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-inline-start: 3px;
		padding-inline-end: 3px;

		&:not([open]) {
			display: none;
		}

		h3 {
			margin: 0;
			padding: 0.5rem;
			font-size: 1.25rem;
			font-weight: bold;
			text-align: center;
		}

		table {
  		display: grid;

			thead, tbody, tfoot, tr {
				display: grid;
				grid-template-columns: 3fr 2fr 35px;
				grid-column: 1 / 4;
			}

			tr {
				border-bottom: 1px solid var(--hairline-color);
			}

			td {
				display: flex;
				font-size: 1rem;
				height: 2rem;
				line-height: 2rem;
				align-items: center;
				padding: 2px;
				border: none;

				&[colspan="3"] {
					grid-column: span 3;
				}

				svg {
					vertical-align: middle;
					width: 24px;
				}

				select {
					margin-top: 4px;
				}

				&:last-child svg {
					cursor: pointer;
				}
			}

			tbody {
				max-height: 300px;
				overflow-y: auto;
			}

			tbody, tfoot {
				td:first-child svg {
					padding-inline-start: 0.5rem;
					padding-inline-end: 0.5rem;
				}

				input {
					flex-grow: 1;
				}
			}
		}

		[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			cursor: not-allowed;
		}

		[role~="listbox"] {
			[role~="option"][aria-selected="true"]::after {
				content: none;
			}

			li {
				padding: 0 2rem 0 0.5rem;
			}
		}

		.button-group {
			margin-left: 5px;
			justify-content: flex-end;
		}
	}
}
