@use "colors";

@mixin select {
	.select-container {
		flex-grow: 1;
		box-sizing: border-box;

		.select-field {
			display: flex;
			position: relative;
			border: 1px solid colors.$border-color;
			border-radius: 4px;
			height: 28px;
			color: colors.$body-fg-color;
			background-color: colors.$body-bg-color;

			&:has(input:focus-visible) {
				outline-width: 1px;
			}

			input {
				height: 18px;
				border: none;

				&:focus-visible {
					outline-width: 0;
				}
			}

			.toggle-dropdown {
				position: absolute;
				display: inline-flex;
				align-self: stretch;
				justify-content: center;
				inset: 0 0 0 auto;
				width: 1rem;
				cursor: pointer;

				&::after {
					display: inline;
					content: "⌃";
					align-self: center;
					transform: rotate(180deg);
					margin-top: -3px;
					font-size: 12px;
				}

				&[aria-expanded="true"]::after {
					transform: rotate(0deg);
					margin-top: 3px;
				}
			}
		}

		.select-value {
			border: 1px solid lightgrey;
			border-radius: 2px;
			box-sizing: border-box;
			display: inline-flex;
			align-self: center;
			line-height: 16px;
			margin-left: 6px;
			padding: 0.125rem 0.25rem;
		}

		.deselect {
			cursor: pointer;
			margin-left: 0.25rem;
			padding-left: 0.25rem;
			border-left: 1px solid colors.$border-color;
			&:hover {
				font-weight: bold;
			}
		}

		.select-option {
			&:hover {
				background-color: colors.$selected-row-color;
			}
		}

		span.select-dot {
			align-self: center;
			width: 12px;
			height: 12px;
			display: inline-block;
			border-radius: 50%;
			margin-left: 0.25rem;
			margin-right: 0.5rem;
		}
	}
}
