@import "colors";

@mixin menubar {
	[role="menubar"] {
		list-style: none;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		margin: 4px 14px;
		padding: 0;

		[role~="menuitem"] {
			display: list-item;
			list-style: none;
			padding: 0;

			&:not(:empty) {
				cursor: pointer;
				border-radius: 4px;
				width: 32px;
				height: 32px;
			}

			&:not(.search-field):hover {
				background-color: $selected-bg-color;
			}

			&[aria-selected="true"] {
				background-color: $selected-row-color;
			}

			&[aria-disabled="true"] {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&.erase svg {
				color: var(--delete-button-bg);
			}

			&.search-field {
				display: inline-flex;
				width: calc(100% - 400px);
				max-width: 400px;

				> input {
					width: calc(100% - 48px);
					min-width: 100px;
					height: 100%;
					display: block;
					color: $body-fg-color;
					background-color: $body-bg-color;
					margin: 0;
					padding: 2px 8px;
					border: 1px solid $border-color;
					border-right: none;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;

					&:focus-visible {
						outline: none;
					}

					& + div {
						position: relative;
						display: flex;
						border: 1px solid $border-color;
						border-left: none;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						padding: 0 5px 0 10px;

						span {
							color: $body-fg-color;

							&:hover {
								background-color: $selected-bg-color;
							}
						}

						.search-icon {
							svg {
								transform: scale(0.8);
							}
						}

						.search-realm {
							display: flex;
						//	[role="combobox"] {
						//		li:nth-child(2) {
						//			padding-bottom: 4px;
						//			border-bottom: 1px solid $border-color;
						//			margin-bottom: 4px;
						//		}
						//	}
						}
					}
				}

				&:has(> input:focus-visible) {
					box-shadow: $focus-visible-box-shadow;
				}
			}

			&[aria-haspopup="listbox"]:has(>[role~="listbox"]) {
				width: auto;

				//&.with-caret {
				//	padding-right: 0.25rem;
				//}
			}

			&.sorting-options {
				margin-left: auto;
				&:not(:has(+.filter-by-label)) {
					margin-right: auto;
				}
			}

			&.filter-by-label {
				margin-right: auto;
				ul > li {
					input[type="checkbox"] {
						vertical-align: initial;
					}
					span.label-dot {
						width: 12px;
						height: 12px;
						display: inline-block;
						border-radius: 50%;
						margin-left: 0.5rem;
						margin-right: 0.5rem;
					}
				}
			}

			//&.filter-by-label + &.sorting-options {
			//	margin-left: auto;
			//}

			&.extra-menu [role~="listbox"] {
				right: 0;
				margin-inline-end: inherit;

				//> li:nth-child(5):not(:last-child) {
				//	padding-bottom: 4px;
				//	border-bottom: 1px solid $border-color;
				//	margin-bottom: 4px;
				//}
			}

			svg {
				display: inline-block;
				width: 30px;
				height: 30px;
				margin: 1px;
			}
		}

		hr {
			margin: 0.25rem;
		}

		[role~="listbox"] {
			left: -250px;
			right: -250px;

			//li {
			//	padding: 0 2rem 0 0.5rem;
			//	width: auto;
			//	cursor: pointer;
			//	display: flex;
			//	align-items: center;
			//	line-height: 32px;
			//	font-size: 16px;
			//
			//	&.active::after {
			//		content: "✔";
			//		position: absolute;
			//		right: 10px;
			//	}
			//}

			svg {
				color: $body-fg-color;
			}

			svg + span {
				margin-left: 0.5rem;
			}
		}
	}
}
