@use "colors";

@mixin menubar {
	[role="menubar"] {
		list-style: none;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		margin: 4px 14px;
		padding: 0;

		[role~="menuitem"] {
			display: list-item;
			list-style: none;
			padding: 0;

			&:not(:empty) {
				cursor: pointer;
				border-radius: 4px;
				width: 32px;
				height: 32px;
			}

			&:not(.search-field):hover {
				background-color: colors.$selected-bg-color;
			}

			&[aria-selected="true"] {
				background-color: colors.$selected-row-color;
			}

			&[aria-disabled="true"] {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&.erase svg {
				color: var(--delete-button-bg);
			}

			&.search-field {
				display: inline-flex;
				width: calc(100% - 400px);
				max-width: 400px;

				> input {
					width: calc(100% - 48px);
					min-width: 100px;
					height: 100%;
					display: block;
					margin: 0;
					padding: 2px 8px;
					border: 1px solid colors.$border-color;
					border-right: none;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;

					&:focus-visible {
						outline: none;
					}

					& + div {
						position: relative;
						display: flex;
						border: 1px solid colors.$border-color;
						border-left: none;
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						padding: 0 5px 0 10px;

						span {
							color: colors.$body-fg-color;

							&:hover {
								background-color: colors.$selected-bg-color;
							}
						}

						.search-icon {
							display: inline-block;
							height: 100%;
							svg {
								transform: scale(0.8);
							}
						}

						.search-zone {
							display: flex;
						}
					}
				}

				&:not(:has(> input:placeholder-shown)) {
					background-color: colors.$selected-row-color;
					> input {
						background-color: colors.$selected-row-color;
					}
				}

				&:has(> input:focus-visible) {
					box-shadow: colors.$focus-visible-box-shadow;
				}
			}

			&.volume-control {
				margin-left: 1rem;
				margin-right: auto;

				ul > li {
					padding: 0.5rem 0.75rem;

					label {
						display: block;
					}

					input[type="range"] {
						vertical-align: initial;
						padding: 0;
					}
				}
			}

			&[aria-haspopup="listbox"]:has(>[role~="listbox"]) {
				width: auto;
			}

			&.sorting-options {
				&:not(:has(+.filter-by-label)) {
					margin-right: auto;
				}
			}

			&.filter-by-label {
				margin-right: auto;

				ul > li {
					input[type="checkbox"] {
						vertical-align: initial;
					}
					span.label-dot {
						width: 12px;
						height: 12px;
						display: inline-block;
						border-radius: 50%;
						margin-left: 0.5rem;
						margin-right: 0.5rem;
					}
				}

				&:has(input:checked) {
					background-color: colors.$selected-row-color;
				}
			}

			&.extra-menu [role~="listbox"] {
				right: 0;
				margin-inline-end: inherit;
			}

			svg {
				display: inline-block;
				width: 30px;
				height: 30px;
				margin: 1px;
			}
		}

		hr {
			margin: 0.25rem;
		}

		[role~="listbox"] {
			left: -250px;
			right: -250px;

			svg {
				color: colors.$body-fg-color;
			}

			svg + span {
				margin-left: 0.5rem;
			}
		}
	}
}
