@use "colors";

.django-finder-tooltip {
	background-color: colors.$body-fg-color;
	opacity: 0.9;
	color: colors.$body-bg-color;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	box-sizing: border-box;
	width: max-content;
	max-width: calc(100vw - 10px);
}
