@use "tooltip";

finder-file-select, finder-folder-select {
	// hide the original input field without loosing the ability to focus it
	input.finder-hidden-input {
		width: 0 !important;
		height: 0 !important;
		border: none !important;
		outline: none !important;
		position: absolute;
		bottom: 0;
		padding: 0 !important;
	}
}
