@use "dropdown";
@use "downshift";
@use "menubar";
@use "sass:meta";
@use "colors";
@use "progress";
@use "tooltip";

.finder-file-select {
	figure {
		display: inline-flex;
		margin: 0.25rem 0;
		padding: 0;
		outline: gray 2px dashed;
		border-radius: 4px;

		>div {
			width: 180px;
			height: 180px;
			border-radius: 0.125rem;
			background-color: #f5f5f5;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				cursor: pointer;
			}

			img[src$=".svg"] {
				width: 80%;
				height: 80%;
			}
		}

		>figcaption {
			position: relative;
			display: flex;
			flex-direction: column;
			padding: .25rem .5rem;
			background-color: #fff;
			overflow-x: hidden;
			min-width: 12rem;

			dl {
				font-size: small;
				margin: 0 0 .25rem 0;
				line-height: 16px;
			}
			dt {
				font-weight: bold;
				display: inline;
			}
			dd {
				margin: 0;
			}

			.remove-file-button {
					margin: 0;
					position: absolute;
					right: 0.5rem;
					bottom: 0.5rem;
					padding: 0.25rem 0.5rem;
					color: colors.$delete-button-fg-color;
					background-color: colors.$delete-button-bg-color;
					border: none;
					border-radius: 0.125rem;
					opacity: 0.9;
					align-self: flex-end;

					&:hover {
						opacity: 1;
						cursor: pointer;
					}
				}

		}
	}
}

dialog {
	position: relative;
	border: 1px solid #a0a0a0;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem #c8c8c8;
	width: 80%;
	height: 80%;
	max-width: 1200px;
	padding: 2rem;

	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	@include menubar.menubar;

	ul[role~="menubar"] {
		flex-shrink: 0;
		border-bottom: 1px solid #808080;
		padding-bottom: 0.5rem;
	}

	.browser-body {
			flex-grow: 1;
			display: flex;
			position: relative;
			height: calc(100% - 45px);  // 45px is the height of the menubar
		}

	.folder-structure {
			flex-shrink: 0;
			overflow-y: auto;
			direction: rtl;
			padding: 0.5rem;
			max-width: 50%;
			white-space: nowrap;

			ul {
				margin: 0;
				padding-left: 0;
				list-style: none;
				direction: initial;

				ul ul {
					padding-left: 1.5rem;
				}
			}

			li {
				i {
					display: inline-block;
					cursor: pointer;
					width: 1.5rem;
					color: #808080;

					&:hover {
						color: inherit;
					}
				}

				svg {
					height: 20px;
					vertical-align: text-bottom;
					margin-right: 0.5em;
				}

				span[role~="button"] {
					cursor: pointer;

					&[aria-selected="true"] {
						font-weight: bold;
					}

					&[aria-current="true"] {
						text-decoration: underline;
						text-decoration-style: solid;
						text-decoration-color: #000000;
					}

					&:not([aria-current="true"]):hover {
						text-decoration: underline;
						text-decoration-style: dashed;
						text-decoration-color: #808080;
					}
				}
			}
		}

	ul.files-browser {
			list-style: none;
			display: flex;
			margin: 0;
			padding: 10px;
			align-self: flex-start;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 10px;

			li:has(> .figure) {
				min-height: 150px;
				width: 125px;

				.figure {
					width: 100%;
					height: 100%;
					margin: 0;
					cursor: pointer;

					div:has(> .file-tags) {
						position: relative;
					}

					.file-tags {
						position: absolute;
						line-height: 0;
						text-align: right;
						overflow: hidden;
						inset: 4px;

						span {
							width: 10px;
							height: 10px;
							display: inline-block;
							border-radius: 50%;
							margin-left: -4px;
						}

					}

					img, video {
						width: 100%;
						border-radius: 0.25rem;
					}

					&[aria-selected="false"] {
						img:not([src$=".svg"]), video {
							box-shadow: 0 0 0.5rem #808080;
						}
					}

					&[aria-selected="true"] {
						img {
							box-shadow: 0 0 1.5rem colors.$active-rectangle;
							outline: 2px solid colors.$active-rectangle;
						}

						figcaption {
							font-weight: bold;
						}
					}

					figcaption {
						text-align: center;
						line-height: 1.5rem;
						font-size: 0.8em;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}

			.scroll-spy {
				display: block;
				width: 125px;  // force to a new line
				height: 1px;
			}
		}

	.status {
			font-size: 18px;
			font-weight: bold;
			line-height: 50px;
			color: #808080;
			padding-left: 2em;
			width: auto;
		}

	.file-uploader {
		flex-grow: 1;
		overflow-y: auto;

		input[type="file"] {
			width: 0 !important;
			height: 0 !important;
			position: absolute;
			bottom: 0;
			padding: 0;
		}

		.progress-overlay {
			@include progress.progress-overlay;
		}
	}

	.browser-editor {
		display: flex;
		width: 100%;
		position: relative;
		overflow-y: auto;
		flex-grow: 1;
		flex-direction: column;

		img {
			width: 100%;
			&.thumbnail {
				max-width: 175px;
			}
		}

		form {
			display: block;
			margin: 0.5rem 1rem;
			.form-row {
				label {
					display: inline-block;
					&:has(~ [required]) {
						font-weight: bold;
					}
				}

				.errorlist {
					display: inline-block;
					color: colors.$error-color;
					list-style: none;
					margin: 0;
				}

				input, select, textarea {
					display: block;
					color: colors.$body-fg-color;
					background-color: colors.$body-bg-color;
					margin-bottom: 0.5rem;
					padding: 4px 8px;
					border: 1px solid colors.$border-color;
					border-radius: 5px;
					width: calc(100% - 1rem);
					box-sizing: border-box;

					&:focus-visible {
						outline: none;
						box-shadow: colors.$focus-visible-box-shadow;
					}
				}

				@include downshift.select;

				.select-field [role~="listbox"] {
					top: auto;
					bottom: 100%;
					margin-block-end: 2px;
				}
			}

			.button-row {
				display: flex;
				justify-content: flex-end;
				margin: 2rem 1rem 1rem;

				button {
					margin-left: 1rem;
					border: none;
					border-radius: 5px;
					padding: 0.5rem 1rem;
					opacity: 0.9;

					&:hover {
						opacity: 1;
						cursor: pointer;
					}

					&.default {
						background-color: #065fc8;
						color: #fff;
					}

					&.dismiss {
						background-color: #b15107;
						color: #fff;
					}
				}
			}
		}
	}

	@include dropdown.dropdown;

	.close-button {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		width: 1.5rem;
		height: 1.5rem;
		opacity: 0.7;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
	}
}

:host {
	--rc-drag-handle-size: 12px;
	--rc-drag-handle-mobile-size: 24px;
	--rc-drag-handle-bg-colour: rgba(0, 0, 0, 0.2);
	--rc-drag-bar-size: 6px;
	--rc-border-color: rgba(255, 255, 255, 0.7);
	--rc-focus-color: #0088ff;
}
@include meta.load-css('node_modules/react-image-crop/src/ReactCrop.scss');
