// #############################################################################
// SETTINGS

$speed-base: 200ms;

// COLORS
$white: #fff;
$black: #000;
$hover-bg: #f1faff;

$color-primary: #00bbff;
$color-primary-light: #f1faff;
$color-success: #693;
$color-danger: #f00;
$color-warning: #c93;
$color-window: #fcfcfc;

// COLORS gray
$gray:            lighten($black, 40%); // #666;
$gray-lightest:   lighten($gray, 55%); // #f2f2f2
$gray-lighter:    lighten($gray, 46.5%); // #ddd
$gray-light:      lighten($gray, 20%); // #999
$gray-darker:     darken($gray, 13%); // #454545
$gray-darkest:    darken($gray, 20%); // #333

$gray-super-light: #f7f7f7;
$gray-dropzone: #808080;


//##############################################################################
// BASE Variables
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;

$icon-size: 16px;

$line-height-normal: 20px;

$border-radius-base: 3px;
$border-radius-normal: 5px;

$padding-base: 3px;
$padding-normal: 10px;
$padding-large: 20px;

$screen-mobile: 320px;
$screen-tablet: 720px;
$screen-desktop: 975px;

$screen-tablet-filer: 810px;

//##############################################################################
// BUTTONS

$btn-border-radius-base: $border-radius-base;
$btn-active-shadow: inset 0 3px 5px rgba($black, 0.125);

$btn-default-color: $gray-darker;
$btn-default-bgcolor: $white;
$btn-default-border: $gray-lighter;

$btn-action-color: $white;
$btn-action-bgcolor: $color-primary;
$btn-action-border: $color-primary;

//##############################################################################
// #SHADOW

$base-box-shadow: 0 0 5px 0 rgba($black, 0.2);
$dropdown-shadow: 0 1px 10px rgba($black, 0.25);
