{% load i18n %}
<div class="dataTables_wrapper custom-style">
    <div class="actions row">
        <div class="col-xs-12">
           {% for field in action_form %}
                {% if field.label %}
                    <label>{{ field.label }}</label>
                {% endif %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="button btn btn-primary btn-sm" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
            {% if actions_selection_counter %}
                <script type="text/javascript">var _actions_icnt="{{ paginated_items.object_list|length|default:"0" }}";</script>

                <ul class="list-unstyled margin-5 list-inline no-margin-bottom pull-right">
                    <li class="action-counter">{{ selection_note }}</li>
                    {% if paginator.count != paginated_items.object_list|length %}
                        <li class="all hidden">{{ selection_note_all }}</li>
                        <li class="clear hidden"><a href="javascript:;">{% trans "Clear selection" %}</a></li>
                    {% endif %}
            {% endif %}
        </div>
    </div>
</div>
