{% extends "admin/base_site.html" %}
{% load i18n filermedia %}

{% block extrastyle %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/libs/ace/css/ace.min.css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300" type="text/css" media="all" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/admin_style.css" />
{% endblock %}

