{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia filermedia filer_admin_tags %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
(function($) {
$( document ).ready(function() {
$('.field-restricted').not(':has(input)').addClass('field-restricted-read-only');
});
})(django.jQuery);
</script>
{% endblock %}

{% block pretitle %}
{% if is_popup %}
<a style="float:left; margin-right:10px; font-size: large;" href="{% if original.folder %}{{original.folder.get_admin_directory_listing_url_path}}{% get_popup_params %}{% endif %}" title="{% trans "Go back to the parent folder" %}">&larr;</a>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% with original as instance %}
{% include "admin/filer/breadcrumbs.html" %}
{% endwith %}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/admin_style.css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block after_field_sets %}
    {% if is_popup and select_folder %}<input type="hidden" name="select_folder" value="1" />{% endif %}
{% endblock %}

{% block sidebar %}
<div id="content-related">
	{% block file_sidebar %}
		{% with original.duplicates as duplicates %}
			{% if duplicates %}
				<h3>{% trans 'duplicates' %}</h3>
				<ul>
					{% for duplicate in duplicates %}<li><a href="{{ duplicate.get_admin_url_path }}{% get_popup_params %}">{{ duplicate }}</a></li>{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	{% endblock %}
</div>
{% endblock %}


{% block submit_buttons_bottom %}
{% if not original.is_readonly %}
{{ block.super }}
{% endif %}
{% endblock %}
