<fieldset class="module aligned form-horizontal {{ fieldset.classes }}">
    {% if fieldset.name %}
        <h4 class="header smaller lighter blue block">{{ fieldset.name }}</h4>
    {% endif %}
    <div class="widget-body">
        {% if fieldset.description %}
            <div class="description">{{ fieldset.description|safe }}</div>
        {% endif %}
        {% for line in fieldset %}
            <div class="form-row form-group{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %} no-margin-left no-margin-right">

                {% for field in line %}
                    <div class="row{% if not line.fields|length_is:'1' %} field-box{% if not field.is_readonly and field.errors %} errors{% endif %}{% endif %}">
                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                        {% if field.is_checkbox %}
                            <div class="col-sm-2 control-label text-left"></div>
                            <div class="col-sm-9 no-padding-left margin-top-5">{{ field.field }} {{ field.label_tag }}</div>
                        {% else %}
                            <div class="col-sm-2 control-label text-left">{{ field.label_tag }}</div>
                            <div class="col-sm-9 no-padding-left">
                                {% if field.is_readonly %}
                                    <p class="read-only-field">{{ field.contents }}</p>
                                {% else %}
                                    {{ field.field }}                                
                                {% endif %}
                                {% if field.field.help_text %}
                                    <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content='{{ field.field.help_text|safe }}'>?</span>
                                {% endif %}
                                {% if not field.is_readonly and field.errors %}
                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</fieldset>
