{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
	<li><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
	<li><a href="{% url 'admin:app_list' app_label='finder' %}">{% translate "Finder" %}</a></li>
	{% for breadcrumb in breadcrumbs %}
		{% if forloop.last %}
	<li aria-current="page">{{ breadcrumb.name }}</li>
		{% else %}
	<li><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
		{% endif %}
	{% endfor %}
</ol>
{% endblock %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block coltype %}{% endblock %}

{% block extrabody %}
{{ finder_settings|json_script:"finder-settings" }}
{% endblock %}
