{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"/>
	<title>Django-Filer</title>
	<link rel="icon" href="data:,">
	<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<script src="{% url 'finder-api:javascript-catalog' %}"></script>
	{{ form.media }}
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col mx-auto my-5">
				<h1>Django Filer Demo</h1>
				<form method="post">
					{% csrf_token %}
					{{ form }}
					<p>
						<button type="submit" class="mt-2 btn btn-primary">Submit</button>
					</p>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
