name: Docs

on: [push, pull_request]

jobs:
  docs:
    runs-on: ubuntu-latest
    name: docs
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: python -m pip install -r docs/requirements.txt
      - name: Build docs
        run: |
          cd docs
          sphinx-build -W -b html -d build/doctrees . build/html
