name: Frontend CI

on: [push]

jobs:
  gulp:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.2.x]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: python -m pip install -r tests/requirements/frontend.txt
    - run: npm install
    - run: npm install -g gulp
    - run: gulp ci
