name: Test django-filer (finder branch)

on:
  push:
    branches:
      - finder
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '/docs/**'
  pull_request:
    branches:
      - develop
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '/docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
        django-version: ["5.2.*", "6.0.*"]
        node-version: ["22.x"]
        optional-dependencies: ["", "django-cte"]
        exclude:
          - python-version: "3.10"
            django-version: "6.0.*"
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcairo2-dev pkg-config
        npm install --include=dev
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel
        python -m pip install "Django==${{ matrix.django-version }}"
        python -m pip install django-entangled ffmpeg-python pillow reportlab svglib pycairo
        python -m pip install beautifulsoup4 coverage Faker lxml pytest pytest-django pytest-cov ${{ matrix.optional-dependencies }}
    - name: Test with pytest
      run: |
        python -m pytest -v unittests
